amalgamation.zip
csorma_test
csorma_test.o
sqlite3.a
sqlite3.o
test.db
csorma.a
csorma.o
main.db
Message.o
logger.o
main.db-journal
csorma_example
csorma_example.o
example.db
example.db-journal
libcsorma.so
Friendlist.o
project/*.c
project/gen/
mycoolstuff/
tests/randc
mysuperstuff/
